.footer {
  grid-area: footer;
  grid-template-columns: 1fr;
  /*background-color: #fdfcfd*/
}

.social-media {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 75px));
  grid-gap: 20px;
  justify-content: center;
  justify-items: center;
}

.copyright {
  display: grid;
  justify-content: center
}


