.resume {
  grid-area: resume;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: 200px;*/
  grid-gap: 20px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
}

.panel {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-self: baseline;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel svg {
  display: grid;
  justify-self: center;
}

.panel h3 {
  margin: 5px;
}

.panel p {
  margin: 2px;
}
