@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,600i&display=swap');

@import "stylesheets/about_me.css";
@import "stylesheets/navbar.css";
@import "stylesheets/tech_stack.css";
@import "stylesheets/projects.css";

:root {
  --red: #DC143C;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas:
        "nav-bar"
        "about-me"
        "tech-stack"
        "project-buttons"
        "projects"
        "resume"
        "footer"
  }

.grid-item {
  display: grid;
  /*justify-content: center;*/
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  /*background-color: var(--red);*/
}

.resume {
  grid-area: resume;
}

.footer {
  grid-area: footer;
}



